<h1>FILMES</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
   <tr>
	<td>
		<%=@filmes%>
	</td>
	<td>
		<%=@filmes%>
	</td>
   </tr>
    
  </tbody>
</table>

<br>
