<h1>CADASTRAR FILME</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
  <tr>
  <td>digite filme</td>
  <td>digite preços</td>
  </tr>
    
  </tbody>
</table>

<br>
